body{
    background-image: url(./../assets/biblioteca.jpg);
    font-family: Arial, sans-serif;
    margin: 20px;
}

label {
    margin-right: 10px;
    }

input, select, button {
    margin-bottom: 10px;
    }

button {
    cursor: pointer;
    }

#resultado {
    margin-top: 20px;
    }


.titulo{
    background-color: white;
    text-align: center;
} 

.contenedor-biblioteca{
    background-color: white;
} 
